ion-tabs{
    background: rgba(100,100,100,0.1);
  }
  ion-tab-bar{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
      ion-tab-button{
        color:  var(--ion-color-primary);
        --ripple-color:  var(--ion-color-primary);
      }
    }
