ion-toolbar.toolbar-title-default.md.in-toolbar.hydrated {
  --background: #fbfafa;
}

ion-toolbar.toolbar-title-default.ios.in-toolbar.hydrated {
  --background: #fbfafa;
}

ion-content.md.hydrated {
  --background: #fbfafa;
}

ion-content.ios.hydrated {
  --background: #fbfafa;
}

p.text-content {
  text-align: center;
  color: #26282d;
  font-size: 16px;
  width: 265px;
  display: block;
  margin: auto;
  /* margin-top: 99px; */
  font-weight: bold;
}

ion-toolbar.md.in-toolbar.hydrated {
  --background: #fbfafa;
}

ion-toolbar.ios.in-toolbar.hydrated {
  --background: #fbfafa;
}
.agent-box {
  text-align: center;
  /* color: gray; */
  font-size: 14px;
  display: block;
  margin: auto;
  margin-top: 113px;
}

p.txt-add {
  font-weight: bold;
  font-size: 24px;
}

ion-button.send-invite-box.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
  --border-radius: 60px;
}

ion-button.send-invite-box.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
  --border-radius: 60px;
}
