<ion-header class='ion-no-border'>
  <ion-toolbar>
    <ion-title class='ion-text-center'>Filter</ion-title>

    <ion-buttons slot='start'>
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot='end'>
      <ion-button>
        A-Z
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines='full'>
    <ion-label>Features</ion-label>
  </ion-item>

  <div class='rangeItem'>
    <ion-item lines='none' class='bedroomItem'>
      <ion-label>
        Bedrooms
        <ion-range pin="true" min="1" max="10"></ion-range>
      </ion-label>
    </ion-item>

    <ion-item lines='none' class='bathroomItem'>
      <ion-label>
        Bathrooms
        <ion-range pin="true" min="1" max="10"></ion-range>
      </ion-label>
    </ion-item>
  </div>


  <div class='property ion-text-center'>
    <ion-label>Squarefeet</ion-label>
    <ion-grid class='feetBtns'>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button1 (click)="btnActivate(button1)">
            1200
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button2 (click)="btnActivate(button2)">
            1400
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class='property'>
    <ion-label class='ion-text-center'>Property Type</ion-label>
    <ion-grid class='propertyBtns'>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button3 (click)="btnActivate(button3)">
            Condos/Townhomes
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button4 (click)="btnActivate(button4)">
            Single-Family
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button5 (click)="btnActivate(button5)">
            Land
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button6 (click)="btnActivate(button6)">
            Multi-Family
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class='property'>
    <ion-label class='ion-text-center'>Assets Type</ion-label>
    <ion-grid class='otherBtns'>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button7 (click)="btnActivate(button7)">
            Sell By Oowner
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button8 (click)="btnActivate(button8)">
            Pre-Foreclosure
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button9 (click)="btnActivate(button9)">
            Banked Owned
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button10 (click)="btnActivate(button10)">
            Agent Listing
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class='property'>
    <ion-label class='ion-text-center'>Buying Type</ion-label>
    <ion-grid class='otherBtns'>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button11 (click)="btnActivate(button11)">
            Cash-Only/Debit
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button12 (click)="btnActivate(button12)">
            Credit Card
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button13 (click)="btnActivate(button13)">
            Bank Financing
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button14 (click)="btnActivate(button14)">
            Seller Financing
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class='property'>
    <ion-label class='ion-text-center'>Condition Type</ion-label>
    <ion-grid class='otherBtns'>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button15 (click)="btnActivate(button15)">
            Vacant
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button16 (click)="btnActivate(button16)">
            Move-in-ready
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button17 (click)="btnActivate(button17)">
            Fixed Upper
          </ion-button>
        </ion-col>
        <ion-col size='6'>
          <ion-button shape='round' color='light' #button18 (click)="btnActivate(button18)">
            New Development
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class='footerBtns'>
    <ion-row>
      <ion-col size='6'>
        <ion-button expand='block'>
          Clear Filters
        </ion-button>
      </ion-col>
      <ion-col size='6'>
        <ion-button color='success' expand='block'>
          Save Filters
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>