ion-content.md.hydrated {
  --background: #fbfafa;
}

ion-content.ios.hydrated {
  --background: #fbfafa;
}

ion-item.item.md.in-list.ion-focusable.hydrated.item-label {
  --background: #fbfafa;
}

ion-item.item.ios.in-list.ion-focusable.hydrated.item-label {
  --background: #fbfafa;
}

ion-toolbar.toolbar-title-default.md.in-toolbar.hydrated {
  --background: #fbfafa;
}

ion-toolbar.toolbar-title-default.ios.in-toolbar.hydrated {
  --background: #fbfafa;
}

p.logout-text {
  color: #4686f7;
  text-transform: capitalize;
  text-shadow: 0px 2px #d7d8da;
}
ion-title.ion-text-center.md.title-default.hydrated {
  color: #333;
  margin-left: 19px;
}

ion-title.ion-text-center.ios.title-default.hydrated {
  color: #333;
  margin-left: 19px;
}

.box-inner {
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-left: 8px;
  margin-right: 11px;
}

ion-title.ion-text-center.md.title-default.hydrated {
  margin-top: 4px;
  margin-left: 37px;
}

ion-title.ion-text-center.ios.title-default.hydrated {
  margin-top: 4px;
  margin-left: 37px;
}

ion-button.dark-btn.md.button.button-solid.in-toolbar.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
}

ion-button.dark-btn.ios.button.button-solid.in-toolbar.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
}

ion-button.light-btn.md.button.button-solid.in-toolbar.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
  --background: white;
  --color: blue;
}

ion-button.dark-btn.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
  --background: blue;
  --color: white;
}

ion-button.dark-btn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
  --background: blue;
  --color: white;
}

ion-button.light-btn.md.button.button-solid.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
  --background: white;
  --color: blue;
}

ion-button.light-btn.ios.button.button-solid.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
  --background: white;
  --color: blue;
}

ion-button.light-btn.ios.button.button-solid.in-toolbar.ion-activatable.ion-focusable.hydrated {
  width: 94%;
  text-transform: capitalize;
  --background: white;
  --color: blue;
}

p.txt-inner {
  margin-top: 6px;
  font-size: 11px;
  color: #383a3ea8;
  margin-left: 8px;
}

p.text-content {
  text-align: center;
  color: gray;
  font-size: 14px;
  width: 159px;
  display: block;
  margin: auto;
  margin-top: 99px;
}
