<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goTo()">
      <ion-icon class="arr-icn" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center"> Favorites & Comments</ion-title>

    <ion-buttons slot="end">
      <ion-button> <p class="logout-text">Logout</p> </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="hotelCard" *ngFor="let i of [1,2,3,4,5]">
    <ion-item class="btnItem">
      <div class="over-lapp"><p class="txt">Sold 10-12-20</p></div>

      <ion-button
        #button1
        fill="clear"
        class="wishlistBtn"
        slot="end"
        color="light"
        size="large"
        (click)="btnActivate(button1)"
      >
        <ion-icon name="heart-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <img src="assets/hotel4.jpg" />
    <div class="spacing-container">
      <ion-card-header>
        <ion-card-title>
          <b>$ 1,900/mo</b>
          <p>4 bds | 3 ba | 2,447 sqft</p>
        </ion-card-title>
        <ion-card-subtitle color="dark">
          9742 W Tompkins Ave, Spring Valley, NV
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <span class="bullet"></span>
        <p>House for rent | Rent Googlement @ $1,820/mo</p>
      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button class="savBtn" expand="full"> Save Search </ion-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-button class="filterBtn" expand="full" (click)="navFilter()">
      Filter
    </ion-button>
  </ion-fab>
</ion-content>
